.task-input {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.task-input input {
  width: 300px;
  padding: 10px;
  border: 2px solid #c4dad2; /* Light green border for input */
  border-radius: 4px;
  margin-right: 10px;
  background-color: #e9efec; /* Very light background for input */
}

.task-input button {
  padding: 10px 20px;
  background-color: #6a9c89; /* Muted green for button */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-input button:hover {
  background-color: #aab396; /* Darker hover effect */
}
