body {
  font-family: Arial, sans-serif;
  background-color: #e9efec;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #6a9c89;
  text-align: center;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}
