/* Modal Overlay */
.login-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Modal Box */
.login-modal {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Close Modal Button */
.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

.login-description {
  font-size: 1rem;
  margin-bottom: 30px;
  text-align: center;
  color: #555;
}

/* Login Buttons */
.login-button {
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 12px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-icon {
  margin-right: 8px;
}

.login-button.anonymous-login {
  background-color: #444;
}

/* Input Group */
.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

/* Error Message */
.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}
