.task-item {
  display: flex;
  justify-content: space-between;
  background-color: #c4dad2; /* Light green for task item background */
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #aab396; /* Primary greenish tone for border */
  border-radius: 4px;
}

.task-item.completed .task-name {
  text-decoration: line-through;
  color: #6a9c89; /* Muted green for completed tasks */
}

.task-name {
  cursor: pointer;
  color: #333; /* Darker text color */
}

.delete-btn {
  background: none;
  border: none;
  color: #aab396; /* Primary color for delete button */
  cursor: pointer;
  font-size: 1.2rem;
}

.delete-btn:hover {
  color: #6a9c89; /* Darker color on hover */
}
